@CHARSET "UTF-8";

.container {
	width: 100%;
	height: 975px;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: white;
}
	
	p {
		font-family: Microsoft YaHei;
	}
	
	.show {
		height: 700px;
		overflow-y: auto;
	}
	
		.box {
			clear: both;		
		}
			.block {
				width: 30%;
				height: 30%;
				margin-bottom: 50px;
				float: left;
			}
			 
			.parameter1 {
				width: 60%;
				height: 30%;
				margin-top: 15px;
				margin-left: 15px;
				font-size: 13px;
				font-family: Microsoft YaHei;
				white-space:nowrap;
				float: left;
			}
			
			.parameter2 {
				width: 60%;
				height: 30%;
				margin-top: 50px;
				margin-left: 15px;
				font-size: 13px;
				font-family: Microsoft YaHei;
				white-space:nowrap;
				float: left;
			}
			
			.parameter3 {
				width: 60%;
				height: 30%;
				margin-top: 75px;
				margin-left: 15px;
				font-size: 13px;
				font-family: Microsoft YaHei;
				white-space:nowrap;
				float: left;
			}
				
			.parameter4 {
				width: 50%;
				height: 30%;
				margin-top: 60px;
				margin-left: 15px;
				font-size: 13px;
				font-family: Microsoft YaHei;
				white-space:nowrap;
				float: left;
			}
			
			#demo { 
				width: 94.5%; 
				height: 175px;
				margin-top: 30px;
				overflow: hidden; 
				border: 2px solid #cccccc; 	
			} 
		 
				#demo img { 
					width: 160px;
					height: 160px;
					border: 1px solid #00ffff; 		 
				} 
			 
			#indemo { 	 
				float: left; 	 
				width: 800%; 	 
			} 
			 
				#demo1 { 	 
					margin-top: 3px;
					float: left; 	 
				} 
				 
				#demo2 { 
					margin-top: 3px;					
					float: left;  
				} 
				
			